language: node_js
node_js:
  - stable
git:
  depth: 1
  quiet: true
env:
  - NODE_ENV=development
before_install:
  - npm install -g pnpm
install:
  - pnpm install
script:
  - pnpm run test:cov
  - pnpm run build
